
@media (max-width: 768px), (max-height: 500px) {
  .event-card {
    min-width: 200px;
    min-height: 200px;
    flex: 0 1 auto;               /* Prevent shrink below min-width */
  }
  .event-card .card-body {
    display: flex;
    flex-direction: column;
  }
}

.event-card {
  display: inline-block;
  width: 15vw;
  height: 50vh;
  border-radius: 15px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 5px gray);
  transition: transform .2s;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card .card-title {
  font-weight: bold;
}

.event-card .date-text {
  font-size: 1.8vh;
}

.event-card .location-text {
  font-size: 1.5vh;
}

.card-image-container {
  height: 23vh;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.card-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;       /* ensures image fills container without distortion */
  display: block;
}
