<div class="fw-bold">Photos & Videos</div>
<div class="mt-2 media-thumbnail-container">

  @for (mediaitem of mediaItems; track mediaitem.id; let i = $index) {
    <div class="single-media-container" (click)="openCarousel(i)">
      @if (mediaitem.mediumURI.endsWith('.mp4')) {
        <video [src]="UrlUtilService.getMediaUrl(mediaitem.mediumURI)"></video>
      } @else {
        <img [src]="UrlUtilService.getMediaUrl(mediaitem.mediumURI)"
             alt="{{ mediaitem.caption }}">
      }
    </div>
  }

  <div class="single-media-container">
    <div class="single-media-container add-media-button" (click)="fileInput.click()">
      +
      <input
        #fileInput
        type="file"
        accept="image/*,video/*"
        hidden
        (change)="onFileSelected($event)"
      />
    </div>
  </div>
</div>

    <!-- CAROUSEL MODAL -->
    @if (showCarousel) {
      <div class="carousel-overlay" (click)="closeCarousel()">
        <div class="carousel-content" (click)="$event.stopPropagation()">
          <p-carousel [value]="mediaItems.toArray()"
                      [numVisible]="1"
                      [numScroll]="1"
                      [circular]="true"
                      [page]="activeSlideIndex">
            <ng-template let-item pTemplate="item">
              <div class="media-slide">
                @if(!item.mediumURI.endsWith('.mp4')) {
                  <img [src]="UrlUtilService.getMediaUrl(item.mediumURI)" />
                }
                @if(item.mediumURI.endsWith('.mp4')) {
                  <video [src]="UrlUtilService.getMediaUrl(item.mediumURI)" controls></video>
                }
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
  }






