@use 'variables' as *;

#media-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;           /* spacing between thumbnails */
  flex-direction: row;
}

.single-media-container {
  width: 7vw;
  height: 7vw;
}

.single-media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-media-container video {
  pointer-events: none;       /* click on video thumbnail passes through */
}

.carousel-item img,
.carousel-item video {
  width: 100%;
  aspect-ratio: 4/3;         /* or 16/9 depending on media */
  /* object-fit: contain;    /* keep full media visible */
  object-fit: cover;         /* makes sure the media fills the space without stretching */
  /* background-color: black; */

}

.add-media-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 6vw, 6rem);
  font-weight: bold;
  background-color: $asobo-light-gray;
  color: $asobo-purple;
  cursor: pointer;
  line-height: 1;
  font-family: Arial, sans-serif;
}
