<footer class="bg-light mt-5 py-4 border-top">
  <div class="footer-content container ms-2 d-flex">
    <div class="d-flex flex-column align-items-start">
      <div class="d-flex gap-3 ">
        <a href="#"><i class="bi bi-facebook fs-4 footer-icon"></i></a>
        <a href="#"><i class="bi bi-linkedin fs-4 footer-icon"></i></a>
        <a href="#"><i class="bi bi-youtube fs-4 footer-icon"></i></a>
        <a href="#"><i class="bi bi-instagram fs-4 footer-icon"></i></a>
      </div>
    </div>
  </div>
</footer>
