<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand me-3" (click)="goHome()">
      <img src="images/logo.png" alt="Logo" id="asobo-header-logo">
    </a>

    <div class="search-bar d-flex align-items-center me-auto">
      <!--<form class="d-flex w-100" action="/search" method="get">-->
      <div class="search-div d-flex w-100">
        <input class="form-control" type="search" name="query" placeholder="Search for events" aria-label="Search">
        <button class="btn-search btn" type="submit">
          <img class="btn-search-img" src="images/icons/magnifying_glass_purple.png" alt="Search Button">
        </button>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- TODO: also check if user has permission to add event -->
    @if (this.authService.isLoggedIn()) {
      <div class="d-flex">
        <a routerLink="/create-event" class="btn form-control me-2 d-flex align-items-center btn-purple btn-primary" id="create-event-nav-anchor">
          <span class="add-event-plus">+</span>
          <span class="ms-1">Event</span>
        </a>
      </div>
    }

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/events" class="nav-link active" aria-current="page">Events</a>
        </li>
        @if (!authService.isLoggedIn()) {
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        }
        @if (authService.isLoggedIn()) {
          <li class="nav-item d-flex align-items-center user-profile-thumbnail" id="user-nav-thumbnail">
            <a [routerLink]="this.userProfile.userProfileUrl">
              <img [src]="this.userProfile.pictureUrl" [alt]="this.userProfile.pictureAlt" class="user-thumbnail me-2">
            </a>
            <div class="d-flex flex-column justify-content-center">
              <span class="username-thumbnail">{{ this.userProfile.username}}</span>
              <span class="user-myprofile">
                <a [routerLink]="this.userProfile.userProfileUrl">My Profile</a>
              </span>
            </div>
          </li>
        }
        <li class="nav-item">
          <div class="d-flex ms-2">
            @if (this.authService.isLoggedIn()) {
              <button class="btn form-control me-2 d-flex btn-purple btn-primary" type="button" (click)="this.authService.logout()">
                Logout
              </button>
            } @else {
              <button class="btn form-control me-2 d-flex btn-purple btn-primary" type="button">
                <a routerLink="/login" class="btn-purple" id="login-nav-anchor">Login</a>
              </button>
            }
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
