@use 'variables' as *;

.comment-box {
  background: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #E9ECEF;
}
.comment-box:not(:last-child) {
  margin-bottom: 20px;
}

.comment-username, .comment-username a {
  color: $asobo-purple;
  font-weight: bold;
  text-decoration: none;
}

.comment-username a:hover {
  text-decoration: underline;
}

.comment-time {
  color: $grayish-blue;
  font-size: 0.85rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
  filter: drop-shadow(2px 2px 3px gray);
  transition: transform .2s;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.comments-list {
  font-size: 0.9rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 15px;
  background-color: $asobo-purple-transparent;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.comment-actions {
  display: flex;
  gap: 0px;
  align-items: center;
}
