@media (max-width: 768px) {
    .carousel-wrapper img {
        height: 250px;
    }
}

.full-width-carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 2rem;
}

.carousel-wrapper {
    width: 100%;
    max-height: 500px;
}

.carousel-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.about-main-section {
    background: linear-gradient(276deg, #9643b8 0%, #690F93 100% );
    width: 100%;
    padding: 3rem 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}




