.card-img-top {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

/* LINKS */
.see-more-link {
    text-decoration: none;
    color: var(--asobo-purple);
    font-size: 0.9rem;
}

.see-more-link:hover {
    text-decoration: underline;
}

/* JOIN BUTTON */
.imin-btn {
    font-size: 1rem;
}

.btn-post-comment:hover {
    color: white;
}

/* INFOBOX */
.infobox {
    border-radius: 15px;
    padding: 10px;
    font-size: 0.9rem;
    background-color: var(--asobo-light-gray);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.date-font-color {
    color: var(--grayish-blue);
}

/* COMMENT BOX AND COMMENT LIST */
.comment-box {
    background: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #E9ECEF;
}
.comment-box:not(:last-child) {
    margin-bottom: 20px;
}

.comment-username {
    color: var(--asobo-purple);
    font-weight: bold;
}

.comment-time {
    color: var(--grayish-blue);
    font-size: 0.85rem;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
    filter: drop-shadow(2px 2px 3px gray);
}

.comments-list {
    font-size: 0.9rem;
    max-width: 800px;
    margin: 2rem auto;
    padding: 15px;
    background-color: var(--asobo-light-gray);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.edit-comment-btn {
    font-size: 0.8rem;
    color: white;
    margin: 0.2rem;
}
.edit-comment-btn:hover {
    color: white;           /* stays white when hovering */
}

.remove-comment-btn {
    font-size: 0.8rem;
    margin: 0.2rem;
}


/* GALLERY & MEDIA */
#media-thumbnail-container {
    display: flex;
    flex-wrap: wrap;      
    gap: 0.5vw;           /* spacing between thumbnails */
    flex-direction: row;
}

.single-media-container {
    width: 7vw;
    height: 7vw;
}

.single-media-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    aspect-ratio: 4/3;         /* or 16/9 depending on media */
    /* object-fit: contain;    /* keep full media visible */
    object-fit: cover;         /* makes sure the media fills the space without stretching */
    /* background-color: black; */

}

.add-media-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 6vw, 6rem);
    font-weight: bold;
    background-color: var(--asobo-light-gray);
    color: var(--asobo-purple);
    cursor: pointer;
    line-height: 1;
    font-family: Arial, sans-serif;
}

