$bs-primary-rgb: 105, 15, 147;
$asobo-purple: #690F93;
$asobo-light-gray: #F8F9FA;
$grayish-blue: #ADB5BD;

.asobo-logo {
  height: auto;
  max-width: 100%;     /* prevents overflow on small screens */
  width: 80px;         /* base size for desktop */
}

@media (max-width: 768px) {
  .asobo-logo {
    width: 60px;      /* smaller logo on mobile */
  }
}

.btn-purple {
  color: white;
  background-color: $asobo-purple !important;
  border-color: $asobo-purple !important;
  width: auto;

  &:hover {
    background-color: $asobo-purple !important;
  }
}

a.btn-purple {
  color: #ffffff !important;
  text-decoration: none;
}
