@use 'variables' as *;

.card-img-top {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

/* LINKS */
.see-more-link {
  text-decoration: none;
  color: $asobo-purple;
  font-size: 0.9rem;
}

.see-more-link:hover {
  text-decoration: underline;
}

/* JOIN BUTTON */
.imin-btn {
  font-size: 1rem;
}

.btn-post-comment:hover {
  color: white;
}

/* INFOBOX */
.infobox {
  border-radius: 15px;
  padding: 10px;
  font-size: 0.9rem;
  background-color: $asobo-light-gray;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.date-font-color {
  color: $grayish-blue;
}
