@use 'variables' as *;

.login-form .form-group {
  width: 100%;
  margin: 0.7em 0.7em 0.7em 0;
}

.login-form .btn-purple {
  width: 60%;
}

.login-password {
  width: 100%;
  position: relative;
}

.login-password .p-password {
  width: 100%;
  display: block;
}

.login-password .p-password input {
  width: 100%;
  border: none;
  padding: 0;
  box-shadow: none;
}

.login-password .p-password input::placeholder,
.login-password .p-password-toggle-mask-icon {
  color: var(--bs-secondary-color);
}

.login-password .p-password {
  --p-icon-size: 1.2rem;
}

.login-password .p-password-toggle-mask-icon {
  inset-inline-end: 0 !important;
  top: 50% !important;
  margin-top: 0 !important;
  transform: translateY(-50%) !important;
  position: absolute;
  cursor: pointer;
}

.form-control {
  width: 100%;
}

.form-control #login-password {
  width: 100%;
  border: none;
}

.login-failed {
  color: red;
  white-space: nowrap;
  pointer-events: none;
  text-align: center;
}
