<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <!-- Username / Email -->
  <div class="form-group position-relative">
    <input
      id="login-username"
      class="form-control"
      type="text"
      formControlName="identifier"
      placeholder="Username or Email"
      autofocus
    >
    @if (getFormControls['identifier'].touched && getFormControls['identifier'].invalid) {
    <small class="error-message">
      @if (getFormControls['identifier'].errors?.['required']) {
        <span>Username or email is required.</span>
      }
      @if (getFormControls['identifier'].errors?.['minlength']) {
        <span>Must be at least 3 characters.</span>
      }
      @if (getFormControls['identifier'].errors?.['email']) {
        <span>Invalid email format.</span>
      }
    </small>
    }
  </div>

  <!-- Password -->
  <div class="form-group">
    <input
      id="login-password"
      class="form-control"
      type="password"
      formControlName="password"
      placeholder="Password"
    >
    @if (getFormControls['password'].touched && getFormControls['password'].invalid) {
      <small class="error-message">
        @if (getFormControls['password'].errors?.['required']) {
          <span>Password is required.</span>
        }
        @if (getFormControls['password'].errors?.['minlength']) {
          <span>Password must be at least 6 characters.</span>
        }
      </small>
    }
  </div>

  <!-- Submit -->
  <div class="form-group d-flex justify-content-center">
    <button class="btn btn-purple btn-primary mb-3" id="login-button" type="submit">
      Login
    </button>
  </div>

  <!-- Sign up link -->
  <div class="form-group d-flex flex-column justify-content-center align-items-center">
    <span>Wanna get an account?</span>
    <a routerLink="/register" class="signup-text-link">Sign up here.</a>
  </div>
</form>
