@if (!this.authService.isLoggedIn()) {
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

        <!-- Username -->
        <div class="form-group position-relative">
            <input
                    type="text"
                    placeholder="Username or Email"
                    formControlName="identifier"
                    class="form-control"
                    id="login-username"
                    autofocus
            >

            <!-- Username validation -->
            @if (this.getFormControls['identifier'].touched && this.getFormControls['identifier'].invalid) {
                <small class="error-message">
                    @if (this.getFormControls['identifier'].errors?.['required']) {
                        <span>Username or email is required.</span>
                    }
                </small>
            }
        </div>

        <!-- Password -->
        <!-- [feedback]="false" removes pw strength indicator -->
        <div class="form-group login-password form-control">
            <p-password
                    [toggleMask]="true"
                    [feedback]="false"
                    placeholder="Password"
                    formControlName="password"
                    id="login-password"
                    fluid
            />

            <!-- Password validation -->
            @if (this.getFormControls['password'].touched && this.getFormControls['password'].invalid) {
                <small class="error-message">
                    @if (this.getFormControls['password'].errors?.['required']) {
                        <span>Password is required.</span>
                    }
                </small>
            }
        </div>

        @if (this.loginFailed) {
          <div class="login-failed">
              <small>Username and password do not match.</small>
          </div>
        }

        <!-- Submit -->
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-purple btn-primary mb-3" id="login-button" type="submit">
                Login
            </button>
        </div>
    </form>
} @else {
  <div class="alert alert-success mt-3 text-center">
    Hi <span class="fw-bold">{{this.authService.currentUser()?.username}}</span> you are logged in!
  </div>
}
