.create-event-form div.form-group {
  margin: 0.7em;
  width: 100%;
  margin-left: 0;
}

.create-event-form .btn-purple {
  width: 60%;
}

.event-picture-box {
  width: 35vw;
  /*max-width: 250px;*/
  aspect-ratio: 16 / 9;
}

.event-picture-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure it fills the box without distortion */
}
