.register-form div.form-group {
  margin: 0.7em;
  width: 100%;
  margin-left: 0;
}

.register-form .btn-purple {
  width: 60%;
}

#salutation-other-group {
  display: none;
}

#register-email-error, #pw-notmatching-error {
  display: none;
  left: 105%;
  right: -160px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.registration-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.add-picture-plus {
  color: $asobo-purple;
  font-size: 5rem;
  font-weight: bold;
}

.profile-picture-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure it fills the box without distortion */
}
