@use 'variables' as *;
@use '@angular/material' as mat;

.btn-purple {
  color: white;
  background-color: $asobo-purple !important;
  border-color: $asobo-purple !important;
  width: auto;

  &:hover {
    background-color: $asobo-purple !important;
    color: white;
  }
}

a.btn-purple {
  color: #ffffff !important;
  text-decoration: none;
}

.mat-icon-custom {
  color: $asobo-purple;          /* base color */
  transition: color 0.2s;       /* smooth hover */
}

.user-thumbnail {
  /*height: 40px;
  width: 40px;*/
  border-radius: 50%;
  filter: drop-shadow(2px 2px 3px gray);
}

.user-profile-thumbnail {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}

.username-thumbnail {
  font-weight: 600;
  font-size: 0.9rem;
}

.user-myprofile {
  display: inline-flex;
}

.user-myprofile a {
  font-size: 0.75rem;
  color: gray;
  text-decoration: none;
}

.event-picture-box {
  margin: 0 auto;
  border: 2px dashed $asobo-purple;
  border-radius: 8px;
  background-color: color-mix(in srgb, $asobo-purple 7%, transparent);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-profile-picture-button, .create-event-picture-button {
  text-align: center;
  color: $asobo-purple;
  font-size: 1.2rem;
  line-height: 1.2;
  z-index: 1;
}

#profile-pic-input, #event-pic-input {
  pointer-events: none;
  display: none;
}

app-login-page, app-registration-page {
  width: 25%;
  margin: 0 auto;
  min-width: 180px;
}

app-registration-page {
  width: 30%;
  min-width: 220px;
}

.table-user-image {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  transform: translateY(-50%);
  color: red;
  white-space: nowrap;
  pointer-events: none;
}

.p-password-clear-icon {
  top: 42% !important;
}

.p-password:has(.p-password-toggle-mask-icon) .p-password-clear-icon {
  inset-inline-end: calc(var(--p-icon-size) + 3px) !important;
}

.p-password:has(.p-password-clear-icon):has(.p-password-toggle-mask-icon) .p-password-input {
  padding-inline-end: calc(var(--p-icon-size) * 2 + 3px) !important;
}

.p-checkbox.p-checkbox-checked .p-checkbox-box,
.p-checkbox.p-highlight .p-checkbox-box {
  border-color: #690F93 !important;
  background-color: #690F93 !important;
}

// Hover state
.p-checkbox:not(.p-disabled):hover .p-checkbox-box.p-checkbox-checked,
.p-checkbox:not(.p-disabled):hover .p-checkbox.p-highlight .p-checkbox-box {
  border-color: #8a13c0 !important;
  background-color: #8a13c0 !important;
}

// Focus state
.p-checkbox:not(.p-disabled) .p-checkbox-input:focus-visible ~ .p-checkbox-box {
  border-color: #690F93 !important;
  box-shadow: 0 0 0 0.2rem rgba(105, 15, 147, 0.2) !important;
}
