
@media (max-width: 768px) {
    .event-card {
        width: 150px !important;
    }
    .event-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.event-card {
    display: inline-block;
    width: 15vw;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    filter: drop-shadow(3px 3px 5px gray);
}

.event-card .card-title {
    font-weight: bold;
}

.event-card .date-text {
    font-size: 1.7vh;
}

.event-card .location-text {
    font-size: 1.5vh;
}

.card-image-container {
    height: 23vh;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.card-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;       /* ensures image fills container without distortion */
    display: block;
}

#event-list {
    display: flex;
    flex-wrap: wrap;                    /* allows wrapping on smaller screens */
    gap: 1rem;                          /* space between cards */
    justify-content: flex-start;
    padding: 0;
}

#event-list li {
    list-style: none;
}