.asobo-logo {
    height: auto;
    max-width: 100%;     /* prevents overflow on small screens */
    width: 80px;        /* base size for desktop */
}

@media (max-width: 768px) {
    .asobo-logo {
        width: 60px;    /* smaller logo on mobile */
    }
}

.btn-purple {
    color: #FFFFFF;
    background-color: #690F93 !important;
    border-color: #690F93 !important;
    width: auto;
}

.btn-purple:hover {
    background-color: #690F93 !important;
}

a.btn-purple {
    color: #FFFFFF !important;
    text-decoration: none;
}

.search-button {
    color: #690F93;
    border-color: #690F93;
}

.register-form div.form-group {
    margin: 0.7em;
    width: 100%;
}

.register-form .btn-purple {
    width: 60%;
}

#salutation-other-group {
    display: none;
}