.asobo-logo {
    height: auto;
    max-width: 100%;     /* prevents overflow on small screens */
    width: 80px;        /* base size for desktop */
}

@media (max-width: 768px) {
    .asobo-logo {
        width: 60px;    /* smaller logo on mobile */
    }
}

.btn-login {
    color: #FFFFFF;
    background-color: #690F93 !important;
    border-color: #690F93 !important;
    width: auto;
}

.btn-login:hover {
    background-color: #690F93 !important;
}

a.btn-login {
    color: #FFFFFF !important;
    text-decoration: none;
}

.search-button {
    color: #690F93;
    border-color: #690F93;
}