* {
    color: #000000;
}

:root {
    --bs-primary-rgb: 105, 15, 147;
}

.asobo-logo {
    height: auto;
    max-width: 100%;     /* prevents overflow on small screens */
    width: 80px;        /* base size for desktop */
}

@media (max-width: 768px) {
    .asobo-logo {
        width: 60px;    /* smaller logo on mobile */
    }
}

.btn-purple {
    color: #FFFFFF;
    background-color: #690F93 !important;
    border-color: #690F93 !important;
    width: auto;
}

.btn-purple:hover {
    background-color: #690F93 !important;
}

a.btn-purple {
    color: #FFFFFF !important;
    text-decoration: none;
}

.search-button {
    color: #690F93;
    border-color: #690F93;
}

.register-form div.form-group {
    margin: 0.7em;
    width: 100%;
}

.register-form .btn-purple {
    width: 60%;
}

#salutation-other-group {
    display: none;
}

#register-email-error {
    display: none;
    left: 105%;
    right: -160px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.search-bar {
    flex-direction: column;
    margin-left: 0;
}

.search-bar .search-div {
    max-width: 37vw;
    display: flex;
}

.search-bar .btn-search {
    transform: translateX(-100%);
    border: none;
    padding-right: 8px;
}

.btn-search-img {
    width: 25px;
    height: 25px;
}

footer .footer-content {
    justify-content: space-between;
}