.card-img-top {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

/* JOIN BUTTON */
.imin-btn {
    font-size: 0.8rem;
}

/* INFOBOX */
.infobox {
    border-radius: 15px;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #F8F9FA;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.date-font-color {
    color: #adb5bd;
}

/* COMMENT BOX AND COMMENT LIST */
.comment-box {
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E9ECEF;
}

.comment-username {
    color: #690F93;
    font-weight: bold;
}

.comment-time {
    color: #ADB5BD;
    font-size: 0.85rem;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
    filter: drop-shadow(2px 2px 3px gray);
}

.comments-list {
    font-size: 0.9rem;
    max-width: 800px;
    margin: 2rem auto;
    padding: 10px;
    background-color: #F8F9FA;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}