<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <title layout:title-pattern="asobō! - $CONTENT_TITLE"
           layout:fragment="title">My Bootstrap Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/event-list.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" alt="Logo" class="asobo-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/events}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item d-flex align-items-center user-profile-thumbnail">
                    <a href="" alt="">
                        <img src="/images/users/dummy_user.png" alt="User Thumbnail"
                         class="user-thumbnail me-2">
                    </a>
                    <div class="d-flex flex-column justify-content-center">
                        <span class="username-thumbnail">Jane</span>
                        <span class="user-myprofile">
                            <a href="" alt="">My Profile</a>
                        </span>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex ms-2">
                        <button class="btn form-control me-2 d-flex btn-purple btn-primary" type="button">
                            <a th:href="@{/login}" class="btn-purple">Login</a>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="py-4">
    <div class="search-bar container d-flex justify-content-center">
        <!--<form class="d-flex w-100" th:action="@{/search}" method="get">-->
        <div class="search-div dflex w-100">
            <input class="form-control" type="search" name="query" placeholder="Search for events" aria-label="Search">
            <button class="btn-search btn" type="submit"><img class="btn-search-img"
                                                              src="/images/icons/magnifying_glass_purple.png"
                                                              alt="Search Button"></button>
        </div>
        <!--</form>-->
        <div class="search-sort">
            Order By
        </div>
    </div>
</div>

<main layout:fragment="content" class="container d-flex flex-column align-items-center mt-5 flex-grow-1">
    <h1 class="text-primary">Welcome to asobo!</h1>
    <p th:text="'Hello, ' + ${name} + '!'"></p>
</main>

<footer class="bg-light mt-5 py-3 border-top">
    <div class="footer-content container d-flex">
        <span class="text-muted">© 2025 asobō!</span>
        <span class="text-muted">All rights reserved.</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>

<!-- Fragment for child pages to insert their scripts -->
<div layout:fragment="scripts"></div>
</body>
</html>
