@if (router.url.includes('events')) {
  <h1 class="text-primary component">All {{ authService.isLoggedIn() ? '' : 'Public' }} Events</h1>
}

<div class="sort-container d-flex justify-content-center">
  <div class="sort-label me-3 mt-1">Sort by</div>
  <div class="sort-controls mb-5 d-flex gap-2">
    <button
      class="btn btn-sm btn-outline-secondary"
      (click)="onSort('date')"
      [class.active]="sortField() === 'date'">
      Date {{ getSortIcon('date') }}
    </button>

    <button
      class="btn btn-sm btn-outline-secondary"
      (click)="onSort('title')"
      [class.active]="sortField() === 'title'">
      Title {{ getSortIcon('title') }}
    </button>

    <button
      class="btn btn-sm btn-outline-secondary"
      (click)="onSort('location')"
      [class.active]="sortField() === 'location'">
      Location {{ getSortIcon('location') }}
    </button>

    @if (authService.isLoggedIn()) {
      <button
        class="btn btn-sm btn-outline-secondary"
        (click)="onSort('isPrivateEvent')"
        [class.active]="sortField() === 'isPrivateEvent'">
        Visibility {{ getSortIcon('isPrivateEvent') }}
      </button>
    }
  </div>
</div>

<ul id="event-list" class="list-unstyled">
  @for (event of events(); track event.id) {
    <li>
      <app-event-card
        [event]="event">
      </app-event-card>
    </li>
  }
</ul>
