<div class="container text-start">
    <h1 class="text-primary mb-5">About asobō!</h1>
</div>


<section class="about-main-section text-white text-left w-100 px-3 py-5 mb-5">
    <div class="container">
        <span class="text-uppercase fw-bold fs-1 ">ASOBŌ!</span>
        <span class="fw-normal fs-2">The platform to connect.</span><br>
        <span class="text-uppercase fs-2">Let’s hang out!</span>
        <p class="lead mt-3">
            Make new friends and connect with beautiful souls.<br>
            Spend time together on cool events from the community for the community.
        </p>
    </div>
</section>


<div class="full-width-carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-wrapper" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../images/events/test_event/movie_night.jpg" alt="Bild 1">
            </div>
            <div class="carousel-item">
                <img src="../images/about/carousel.jpg" alt="Bild 2">
            </div>
            <div class="carousel-item">
                <img src="../images/events/test_event/movie_night.jpg" alt="Bild 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>