<ul id="event-list" class="list-unstyled">

</ul>

<!-- Hidden template for 1 event -->
<template id="event-template">
    <li>
        <a>
            <div class="card event-card">
                <div class="card-image-container">
                    <img class="card-img-top">
                </div>
                <div class="card-body">
                    <h6 class="card-title"></h6>
                    <div class="card-date date-text text-muted"></div>
                    <div class="card-time date-text text-muted"></div>
                    <div class="card-location location-text text-muted mt-2"></div>
                </div>
            </div>
        </a>
    </li>
</template>