<footer class="bg-light mt-5 py-3 border-top">
    <div class="footer-content container d-flex">
        <span class="text-muted">© 2025 asobō!</span>
        <span class="text-muted">All rights reserved.</span>
    </div>
</footer>