<div class="registration-wrapper">
    <h1 class="text-primary text-center mb-4">Sign Up!</h1>

    <div class="register-form">
    <div class="form-group">
        <div class="profile-picture-box" id="profile-picture-box">
            <input
                    type="file"
                    id="profile-pic-input"
                    name="profile_picture"
                    accept="image/*"
                    style="display: none;"
            >
            <img id="profile-pic-preview" src="" alt="Preview" style="display: none;">
            <div class="register-profile-picture-button">
                <span class="add-picture-plus">+</span><br>Add profile picture
            </div>
        </div>
    </div>

    <div class="form-group">
        <select class="form-control" name="salutation" id="salutation" required>
            <option value="" disabled selected>Choose your Salutation</option>
            <option value="Mr">Mr.</option>
            <option value="Ms">Ms.</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group" id="salutation-other-group">
        <input class="form-control" autofocus type="text" name="salutation-other" id="salutation-other"
               placeholder="Other Salutation">
    </div>

    <div class="form-group">
        <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
    </div>

    <div class="form-group">
        <input class="form-control" autofocus type="text" name="firstname" placeholder="First Name" required>
    </div>

    <div class="form-group">
        <input class="form-control" autofocus type="text" name="surname" placeholder="Surname" required>
    </div>

    <div class="form-group position-relative">
        <input id="register-email" class="form-control w-100 pe-5" type="email" name="email" placeholder="Email Address" required>
        <small id="register-email-error" class="text-danger position-absolute">
            Invalid email format
        </small>
    </div>

    <div class="form-group">
        <input class="form-control" type="password" name="register-password" id="register-password" placeholder="Password" required>
    </div>

    <div class="form-group position-relative">
        <input class="form-control" type="password" name="register-password-conf" id="register-password-conf" placeholder="Confirm Password" required>
        <small id="pw-notmatching-error" class="text-danger position-absolute">
            Passwords do not match
        </small>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" name="location" placeholder="City">
    </div>

    <!-- <div class="form-group">
        <input class="form-control" type="file" accept="image/*" name="profile_picture" placeholder="Profile Picture"
               accept="image/*">
    </div> -->

    <div class="form-group d-flex justify-content-center">
        <input class="btn btn-purple btn-primary mb-3" id="register-button" type="submit" value="Register">
    </div>
    <div class="form-group d-flex justify-content-center mt-4">
        Already have an account?
    </div>
    <div class="form-group d-flex justify-content-center">
        <a href="#login" class="login-text-link">Log In here.</a>
    </div>
</div>
</div>