<table class="table table-hover table-striped align-middle">
    <thead class="table-light">
    <tr>
        <th>Status</th>
        <th></th>
        <th>User-ID</th>
        <th>Username</th>
        <th>Salutation</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>E-Mail</th>
        <th>Register Date</th>
        <th>Location</th>
    </tr>
    </thead>

    <tbody id="user-table">
    </tbody>

</table>