#event-list {
  display: flex;
  flex-wrap: wrap;                    /* allows wrapping on smaller screens */
  gap: 1.2rem;                          /* space between cards */
  justify-content: center;
  padding: 0;
}

#event-list li {
  list-style: none;
}
