<!DOCTYPE html>
<html lang="en">
<head>
  <title>Events</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<main class="mt-5 container d-flex flex-column align-items-center flex-grow-1">
  <ul id="event-list" class="list-unstyled">

    <li>
      <div class="card event-card">
        <div class="card-image-container">
          <img src="/images/events/test_event/movie_night.jpg" class="card-img-top" alt="movie night picture">
        </div>
        <div class="card-body">
          <h6 class="card-title">Movie Night</h6>
          <div class="date-text text-muted">Thu, May 29, 2025</div>
          <div class="date-text text-muted">8:00 p.m.</div>
          <div class="location-text text-muted mt-2">in San Juan Capistrano, CA</div>
        </div>
      </div>
    </li>

    <li>
      <div class="card event-card">
        <div class="card-image-container">
          <img src="/images/events/test_event/cooking.jpg" class="card-img-top" alt="cooking picture">
        </div>
        <div class="card-body">
          <h6 class="card-title">Cooking!</h6>
          <div class="date-text text-muted">Thu, May 29, 2025</div>
          <div class="date-text text-muted">7:00 p.m.</div>
          <div class="location-text text-muted mt-2">in Vienna, AT</div>
        </div>
      </div>
    </li>

  </ul>
</main>


</body>
</html>
